@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
#profs{
	background: #f2f2f2;
	color: #090909;
}
#profs li{
	min-width: 20em;
}

#profs li ul{
	font-size: .85em;
	list-style: none;
	padding: 0;
}

#profs li ul li{
	background: #eeeeee;
	border-radius: 4px;
}

#profs li ul li i{
	color: #333;
}

.divider{
	border-top: 1px solid #ddd;
	padding: 0;
	width: 100%;
}

.over9000{
	color: #182;
	font-weight: 800;
}

.prof-name{
	font-family: Ubuntu;
	font-weight: 600;
	text-align: left;
	font-size: 0.85rem;
	margin-top: auto;
	margin-bottom: auto;
}

.ratings{
	margin-right: 1rem;
}

.rating-factor{
	display: none;
}

.review-button{
	background-color: #8d1437 !important;
	color: white !important;
	font-size: 0.75rem;
	padding: 0.35rem 0.5rem;
}

.reviews-shown .more-info{
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.reviews-shown .prof-name{
	margin-left: auto;
	margin-top: 1rem;
	text-align: center;
	margin-bottom: 1rem;
	font-size: 1.25rem;
}

.reviews-shown .ratings{
	display: flex !important;
	margin-right: 0;
}

.reviews-shown .rating{
	padding: 0.5rem;
	background: #eeeeee;
	border-radius: 4px;
}

.reviews-shown .rating-factor{
	display: flex;
}

.reviews-shown .review-button{
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.search-icon{
	color: #090909;
}

.star{
	color: #3d8fbe;
}

.star-show{
	font-size: 0.75rem;
}

.vh-100{
	min-height: 100vh !important;
	height: 100% !important;
}

@media (min-width: 768px){
	.action-buttons{
		margin-left: 0 !important;
	}

	#profs li ul{
		font-size: .85em;
	}

	.prof-name{
		font-size: 1rem;
	}

	.rating-factor{
		display: flex;
	}

	.review-button{
		font-size: 0.85rem;
		padding: 0.5rem 0.85rem;
	}
	
	.reviews-shown .prof-name{
		font-size: 1.5rem;
		margin-bottom: 1.25rem;
	}

	.reviews-shown .rating span{
		font-size: 1.5rem;
	}

	.reviews-shown .rating{
		padding: 1rem;
		background: #eeeeee;
		border-radius: 4px;
		min-width: 90px;
	}
}

a{
	text-decoration: none;
}

body{
	background: #e95420;
	background: linear-gradient(to bottom, #e95420 0%,#8d1437 100%);
	background: -moz-linear-gradient(top, #e95420 0%, #8d1437 100%);
	background: -webkit-linear-gradient(top, #e95420 0%,#8d1437 100%);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e95420', endColorstr='#8d1437',GradientType=0 );
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

button{
	font-family: Ubuntu;
}

h1, h2{
	font-family: bold;
}

h1, h2, h3, h4, h5, h6{
	font-family: Ubuntu;
}

hr{
	border-color: white;
	opacity: 1
}

html{
	background: #f2f2f2;
}